body {
  background-color: rgb(127, 120, 210);
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  margin: 10px;
  color: white;
  background-color: rgb(2, 22, 40);
}

.button {
  display: block;
  margin: 10px;
  color: white;
  background-color: rgb(2, 22, 40);
}
